/* ============= Load Font(s) ============= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* ============= Global Style ============= */
:root
{
    /* Colors */
    --primary    : #6a62d2;
    --light-grey : #e5e8ed;
    --white      : #fff;
    --black      : #000;

    /* Font weight */
    --regular   : 400;
    --medium    : 500;
    --semi-bold : 600;
    --bold      : 700;
}
*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body
{
    min-height: 100vh;
    background-color: var(--primary);
    display: grid;
    place-items: center;
}
input
{
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
}
a
{
    text-decoration: none;
    display: inline-block;
}
/* ============= Form Style ============= */
form
{
    background-color: var(--white);
    border-radius: 6px;
    padding: 20px 40px;
    width: 360px;
}
form h1
{
    font-size: 19px;
    font-weight: var(--bold);
    text-align: center;
    color: #444;
    padding: 8px 0 20px;
}
form .input-box
{
    /* border: 1px solid magenta; */
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    margin-bottom: 8px;
    background-color: var(--light-grey);
    overflow: hidden;
}
form .input-box input
{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: var(--medium);
    padding: 10px 15px;
    color: var(--black);
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
}
form .input-box label
{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: var(--medium);
    color: hsl(218, 18%, 73%);
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
form .input-box input:focus,
form .input-box input:valid
{
    border-color: var(--primary);
}
form .input-box input:focus + label,
form .input-box input:valid + label
{
    left: 110%;
    opacity: 0;
}
form .remember
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px 0 18px;
}
form .remember input[type="checkbox"]
{
    background-color: var(--light-grey);
    width: 16px;
    height: 16px;
    border-radius: 2px;
    cursor: pointer;
    display: grid;
    place-items: center;
    color: var(--white);
}
form .remember input[type="checkbox"]::before
{
    content: '';
    font-family: "Material Symbols Outlined";
    color: var(--white);
    font-size: 14px;
}
form .remember input[type="checkbox"]:checked
{
    background-color: var(--primary);
}
form .remember input[type="checkbox"]:checked::before
{
    content: '\e876';
}
form .remember label
{
    font-size: 13px;
    cursor: pointer;
}
form .events input[type="submit"]
{
    display: block;
    background-color: var(--primary);
    width: 100%;
    height: 45px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: var(--semi-bold);
    color: var(--white);
    margin-bottom: 12px;
    cursor: pointer;
}
form .events a
{
    font-size: 13px;
    text-align: center;
    width: 100%;
    color: hsl(218, 40%, 40%);
}